
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/test/Index.cshtml";
}
<head>
    <title>Contact</title>
    <link href="~/Content/Contact/Contact.css" rel="stylesheet" />
</head>
<h3>Liên hệ</h3><br />
<div class="contact-content">
    <strong> TY CỔ PHẦN  ĐẦU TƯ - VẬN TẢI - DU LỊCH HOÀNG VIỆT (HOANGVIET TRAVEL.,JSC - <span style="color:red">HOANGVIET OPENTOUR GROUP/HVO)</span></strong>/<br />
    <br />
    <strong>Đại diện: Ông Vũ Quyết Thắng - Giám đốc</strong><br />
    <br />
    <strong>Email:</strong> thangthomas@hoangviettravel.vn<br />
    <br />
    <strong style="font-size:20px">VĂN PHÒNG GIAO DỊCH TẠI HÀ NỘI: 93 Hồng Hà, Quận Ba Đình, TP Hà Nội</strong><br />
    <br />
    <strong>Tel:</strong> 02437194188/HOTLINE: 0918 618 565<br />
    <br />
    <br />
    <strong>PHÒNG CHI NHÁNH YÊN PHỤ: 62A Phố Yên Phụ (Yên Phụ nhỏ), quận Tây Hồ, TP Hà Nội</strong><br />
    <strong>HOTLINE: 0918 618 565</strong><br />
    <br />
    <strong>Du lịch trong nước:</strong><br />
    <br />
    <ul>
        <li><span style="color:blue">0902 216 682 - Mrs. Ngọc:</span> Quy Nhơn, Phú Yên ( Gềnh Đá Đĩa, Tuy Hòa), Tam Đảo ( Thiền Viện Trúc Lâm, Tháp Truyền Hình, Tháp Bạc), Yến Bái ( Mù Căng Chải), Lai Châu, Lạng Sơn ( Động Tam Thanh, Nhị Thanh, Đền Mẫu), Thái Nguyên (Hồ Núi Cốc), Miền Tây (Cần Thơ, Sóc Trăng, Bạc Liêu, Cà Mau, Liên tỉnh miền Tây), Sài Gòn, Mũi Né (Bàu Trắng, Hòn Ghềnh), Phú Quốc (Hòn Thơm, VinWonder-VinSafari), Ninh Bình (Hoa Lư, Bái Đính, Tràng An, Tam Cốc), Nam Định (Đền Trần, Vương Cung Thánh Đường Phú Nhai, Biển Quất Lâm, Hải Thịnh), Hải Phòng - Cát Bà, Quảng Ninh (Hạ Long, Quan Lạn, Cô Tô, Biển Trà Cổ), Hòa Bình (Mai Châu, Thung Nai, Thủy điện Hòa Bình) , Sơn La (Mộc Châu),Tà Xua, Hà Nội…</li>
        <li><span style="color:blue">0902 256 682 - Mrs. Vân Anh:</span> Côn Đảo, Hà Giang ( Đồng Văn, Lũng Cú, Dinh Vua Mèo, Song Nho Quế), Cao Bằng ( Thác Bản Giốc, Hang Pắc Pó, Động Ngườm Ngao), Bắc Cạn (Hồ Ba Bề), Tây Nguyên (Bản Đôn, Hồ Lắc, Hồ Tơ Nưng, Sông Sê San, Buôn Mê Thuột, Pleiku), Nha Trang, Đà Lạt, Thanh Hóa (Hải Tiến, Sầm Sơn, Suối Cá Thần, Thành Nhà Hồ, Pù Luông), Nghệ An (Cửa Lò, Quê Bác, Vườn Quốc gia Pù Mát, Đồi chè Thanh Chương),  Hà Tĩnh (Thiên Cầm, Ngã ba Đồng Lộc), Quảng Bình (Động Phong Nha, Động Thiên Đường, Hang Sơn Đoòng, Sông Chày - Hang Tối, Suối Nước Mọc, Biển Nhật Lệ, Bãi Đá Nhảy, Vũng Chùa - Đảo Yến, Tượng đài Mẹ Suốt) , Huế - Lăng Cô, Đà Nẵng, Quảng Nam (Hội An, Thánh địa Mỹ Sơn, Cù Lao Chàm), Lý Sơn, Quảng Ngãi (Khu chứng tích Sơn Mỹ, Núi Ấn Sông Trà, Khu du lịch Hà Mỹ Á, Đồng Muối Sa Huỳnh), Sapa, Lào Cai (Cột cờ Lũng Pô, Vườn Quốc gia Hoàng Liên)…</li>
        <li><span style="color:red">0918 618 565 - Mr. Thắng:</span> <span style="color:blue">Tour đoàn riêng, đoàn quan trọng, đoàn lớn, tổ chức sự kiên, phòng khách sạn tới khắp các địa phương trong cả nước</span></li>
    </ul>
    Du lịch nước ngoài:<br />
    <br />
    <ul>
        <li><span style="color:red">0918 618 565 (Mr. Thắng  - TOUR ĐOÀN RIÊNG/TOUR HÀNH TRÌNH KHÓ, TOUR VIP..)</span></li>
        <li class="xanh">0917 830 988 (Mrs Dung  - Phụ trách tour Châu Âu ( Các tuyến Đông Âu, Bắc Âu, Tây Âu, Nam Âu), Úc, Anh, Scotland, Canada, Mỹ( Bờ Đông, Bờ Tây), Nga, Qatar, Nam Phi), Thổ Nhĩ Kỳ, Hy Lạp, Ai Cập, Cu Ba,…</li>
        <li class="xanh">0911273988 (Ms. Dung Lê  - Phụ trách tour Thái Lan ( Bangkok – Pattaya, Chiangmai, Phuket…), Dubai, Lào, Capuchia, Maldives, Phượng Hoàng Cổ Trấn(Trung Quốc đường bay), Trung Quốc ( Các tour đường bộ)</li>
        <li class="xanh">0919861488 (Ms. Ngân - Phụ trách tour Singapore, Malaysia, Indonesia, Bắc Kinh Thượng Hải(Trung Quốc),Trung Quốc( các tour đường bay), CÔN MINH – LỆ GIANG – SHANGRILA ( Đường Bộ và Bay), Mông Cổ)</li>
        <li class="xanh">0983968365 (Mr. Phụng - Phụ trách tour Hàn, Nhật, Đài Loan, Hồng Kông, Myanmar,Triều Tiên, Ấn Độ, Bhutan, Bali( Indonesia) )</li>
    </ul>
    <span style="color:red">VUI LÒNG PHẢN HỒI THÔNG TIN NẾU QUÝ KHÁCH KHÔNG HÀI LÒNG VỀ DỊCH VỤ/THÁI ĐỘ PHỤC VỤ CỦA NHÂN VIÊN CÔNG TY: MR. THẮNG - 0918 618 565</span>
  
    <br />
    XIN TRÂN TRỌNG CÁM ƠN!<br />
</div>
