
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/test.css" />
</head>
<body>
    <div> 
        <div class="header">HOÀNG VIỆT TRAVEL-CÔNG TY DU LỊCH UY TÍN HÀNG ĐẦU VIỆT NAM</div>
        <div class="banner">
            <span class="logo"></span>        
            <span><input id="search" name="searchBox" /><input id="btnSearch" type="submit" value="Tìm kiếm" /></span><br />
            <span id="txt1">BETTER THAN YOU EXPECTED!</span><br /><br />
            <span id="txt2">MEMBER OF HOANGVIET OPENTOUR GROUP (HVO)</span>
        </div>
        <div class="menu">
            <ul>
                <li>@Html.ActionLink("Trang chủ","HomePage","test")</li>
                <li>@Html.ActionLink("Giới thiệu","Intro","test")</li>
                <li>TOUR TRONG NƯỚC</li>
                <li>TOUR NƯỚC NGOÀI</li>
                <li>TIN HOT</li>
                <li>ĐẶT PHÒNG</li>
                <li>VISA</li>
                <li>LỊCH TOUR</li>
                <li>@Html.ActionLink("LIÊN HỆ","Contact","test")</li>
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
