
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/test/Index.cshtml";
}
<head>
    <link href="~/Content/intro/intro.css" rel="stylesheet" />
</head>

<h3 id="intro-header">Giới thiệu về Hoàng Việt</h3>
<div class="intro-logo"></div>
<div class="intro1">MEMBER OF HOANGVIET OPENTOUR GROUP</div>
<div class="intro2">BETTER THAN YOU EXPECTED!</div>
<div class="intro-content">
    <strong>THIỆU VỀ DOANH NGHIỆP:</strong><br />
    <br />
    <h4>TÊN ĐẦY ĐỦ: CÔNG TY CỔ PHẦN ĐẦU TƯ – VẬN TẢI – DU LỊCH HOÀNG VIỆT</h4><br />
    Trụ sở chính:<strong>62 Trần Quốc Toản, Phường Trần Hưng Đạo, Quận Hoàn Kiếm, Hà Nội<br />
    <br />
    Ngày thành lập: Tháng 1/2005. Mã số doanh nghiệp(Mã số thuế): 0101594871</strong><br />
    <span style="color:#FF0000"> ĐỊA ĐIỂM KD - VPGD1: 62A Phố Yên Phụ, Phường Yên Phụ, Quận Tây Hồ, Hà Nội<br />
    ĐỊA ĐIỂM KD - VPGD2​: 93 Hồng Hà, Q. Ba Đình, Hà Nội<br /></span>
    <br />
    Điện thoại:<strong>0918 618 565</strong> <br />
    Hotline:<strong>0983 968 365</strong><br />
    Web:<strong>hoangviettravel.com.vn</strong><br />
    Email:<strong>yenphu@hoangviettravel.vn</strong><br />
</div>
<div class="sodo">
    <p><strong>Sơ đồ công ty Hoàng Việt</strong></p>
    <img src="~/Content/image/sodo.jpg" />
    
</div>
<div class="giayPhep">
    <p>Giấy phép Lữ hành quốc tế & nội địa:</p>
    <img src="~/Content/image/giay_phep_0.jpg" />
    <img src="~/Content/image/giayphepmatsau.jpg" />
</div>
<div class="thanh-tich">
    <strong id="thanh-tich-header">Các thành tích đạt được</strong><br />
    <br />
    1) Là thành viên của các Tổ chức Du lịch trong nước, Quốc tế có uy tín như:<br />
    Hiệp hội Du lịch Việt Nam (VITA), Hiệp hội Lữ hành Việt Nam (VISTA), Hiệp hội Du lịch Châu Á Thái Bình Dương (PATA Trung ương), Câu lạc bộ lữ hành Hà Nội UNESCO.<br />
    <br />
    2) Là đơn vị đạt Danh hiệu TOP 100 nhà cung cấp đáng tin cậy tại Việt Nam 2011 (Gold Trust Supplier) do Trung tâm Phát triển chỉ số tín nhiệm Doanh nghiệp phối hợp với Tổ chức chứng nhận Hệ thống Quản lý Chất lượng Quốc tế NQA - Vương Quốc Anh và Hội đồng doanh nghiệp trưởng - Viện Doanh nghiệp Việt Nam chứng nhận.<br />
    <br />
    3) Tháng 12/2013, qua chương trình bình chọn rộng khắp cả nước với thời gian hơn 4 tháng “Sản phẩm – Dịch vụ uy tín chất lượng do người tiêu dùng bình chọn” do Hiệp hội tiêu chuẩn & bảo vệ người tiêu dùng Việt Nam cùng báo Người tiêu dùng phát động, đơn vị đã vinh dự được vào TOP các sản phẩm – dịch vụ Uy tín do người tiêu dùng bình chọn với dịch vụ: Tour Du lịch trong và ngoài nước, được cấp Chứng nhận và truyền hình trực tiếp – Vinh danh tại Nhà hát lớn Hà Nội ngày 14/12/2013<br />
    <br />
    4) “Bằng khen” của HIỆP HỘI UNESCO Thành phố Hà Nội (2015) do Chủ tịch hiệp hội Dương Trung Quốc ký tặng Công ty Du lịch Hoàng Việt đã có nhiều đóng góp xây dựng và phát triển thành công các hoạt động của CLB Lữ hành UNESCO Hà Nội nói riêng cũng như du lịch Việt Nam nói chung.CLB Lữ Hành UNESCO Hà Nội là đơn vị hội tụ hơn 200 doanh nghiệp Lữ hành của Hà Nội và các ba miền Bắc Trung Nam.<br />
    <br />
    5) Chứng nhận SẢN PHẨM - DỊCH VỤ XUẤT SẮC NĂM 2015 cho dịch vụ du lịch trong và ngoài nước do Hiệp hội Doanh nghiệp nhỏ và vừa Việt Nam phối hợp với Tạp chí Doanh nghiệp và Hội nhập tổ chức. Lễ vinh danh và truyền hình trực tiếp tại Nhà hát lớn Hà Nội ngày 24/1/2016.<br />
    <br />
    6) Hoàng Việt Opentour vinh dự cùng 4 công ty du lịch: Saigon Tourist, Hanoi Tourist, Vietrantour, Hành trình Phương Đông đón nhận kỷ niệm chương vinh danh "Công ty du lịch hàng đầu 2015 - 2016" do đại diện Hãng Hàng không 5 sao hàng đầu Thế giới - Qatar Airways trao tặng...<br />
    <br />
    7) Ngày 24/06/2017, Hoàng Việt Travel vinh dự được Chứng nhận "Thương hiệu Tiêu biểu, Chất lượng vượt trội 2017 - Quarlity Brands Outstanding 2017", do Hội đồng Liên hiệp Chất lượng Châu Á Thái Bình Dương phối hợp với Tổ chức Đánh giá và Chứng nhận Quốc tế InterConformity (Cộng hòa Liên bang Đức), tổ chức Global GTA thực hiện theo chuẩn mực Quốc tế định kỳ hàng năm.<br />
    <br />
    8) Tháng 4/2018,  Hoàng Việt Travel  được hãng hàng không 5 sao tốt nhất thế giới năm 2017 - Qatar Aiways trao tặng danh hiệu Công ty du lịch hàng đầu Việt Nam<br />
    <br />
    9) Tháng 6/2018, Hoàng Việt tự hào nhận danh hiệu Doanh nghiệp xuất sắc phù hợp với chỉ số hài lòng của khách hàng(CSI 2018) do tổ chức Global GTA(Vương Quốc Anh) và Tổ chức đánh giá chất lượng Châu Á Thái Bình Dương trao tặng<br />
    <br />
    10) Tháng 8/2018, Hoàng Việt Travel tự hào khi được vinh danh "Thương hiệu Việt Nam vàng" do hiệp hội doanh nghiệp vừa và nhỏ Việt Nam trao tặng<br />
    <br />
    11) 12/01/2019,  Hoàng Việt hân hạnh là nhà tài trợ Đồng cho buổi lễ kỷ niệm 10 năm thành lập CLB Lữ hành UNESCO Hà Nội<br />
    <br />
    12) Ngày 30/3/2019, Hoàng Việt tự hào được vinh danh "Top 100 Thương Hiệu Mạnh Đông Nam Á 2019"  do Tổ chức chứng nhận hệ thống quản lý chất lượng quốc tế QMS –<br />
    Australia và trung tâm nghiên cứu phát triển doanh nghiệp Châu Á trao tặng<br />
    <br />
    13) Ngày 09/08/2019 Hoàng Việt Travel vinh dự được trao tặng "Kỷ niệm chương Sao đỏ vinh danh 10 đơn vị hàng đầu 2018" bởi Hãng hàng không AirAsia.<br />
    <br />
    14) Ngày 04/01/2020 Hoàng Việt Travel được vinh danh là "TOP 10 THƯƠNG HIỆU TIN CẬY - SẢN PHẨM CHẤT LƯỢNG - DỊCH VỤ TẬN TÂM 2019" bởi Ban Tổ Chức Chương Trình Gala Chào Tuân 2020 Tự Hào Thương Hiệu Đất Việt<br />
    <br />
</div>
<div class="intro-anh">
    <p><strong>Một số hình ảnh của đoàn du lịch thực tế:</strong></p>
    <img src="~/Content/introAnh/anh1.jpg" style="width:1000px; height:897px"/>
    <img src="~/Content/introAnh/anh2.jpg" width="1000" height="897" />
    <img src="~/Content/introAnh/anh3.jpg" width="1000" height="897"/>
</div>