body {
}
.banner {
    background-image:url(../Content/image/banner.jpg);
    height:80px;
    width:100%;
}
a{
    text-decoration:none;
}

a:visited{
    color:white;
}
a:hover{
    color:red;
}

.header{
    width:100%;
    height:35px;

}
.header p{
    margin-left:50px;
}
.logo {
    height: 70%;
    width: 150px;
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 100px;
    margin-top:10px;
    float:left;
}
#btnSearch{
    height:35px;
    border:0px;
    width:70px;
    background-color:orange;
}
#search{   
    margin-left:50px;
    height:30px;
    width:500px;
    
}
.banner input{
    float:left;
    margin-top:30px;
}
.banner p{
    color:red;
    font-size:20px;
    margin-left:700px;
}
.menu{
    margin-top:-16px;
}
.menu ul{
    background-color:orange;
    height:50px;
}
.meni ul li:hover{
    background-color:red;
}
.menu ul li{
    text-decoration:none;
    /*display:inline-table;*/
    float:left;
    height:40%;
    position:relative;
    background-color:orange;
    border-left:1px solid white;
    padding:15px;
    color:white;
}
.menu ul li:hover{
    color:red;
    cursor:pointer;
    background-color:#ffffff;
}
.menu ul li:hover a{
    color:red;
}
li{
    list-style:none;
}
#txt1 {
    color:red;
    background-color:white;
    margin-left:50px;
}
#txt2{
    color:white;
    background-color:green;
    margin-left:50px;
}
.footer{
    display:flex;
    justify-content:space-between;
    width:101%;
    background-color:#333;
    color:white;
    margin-left:-8px;
}
.footer-left{
    margin-bottom:20px;
    margin-left:40px;
}
.footer-right{
    margin-top:20px;
    margin-right:40px;
}
.footer-center{
    margin-top:20px;
}
.bangKhen{
    margin-left:130px;
}
.bangKhen img{
  float:left;
  padding:20px;
  
}
.formSearch{
    left:34px;
    bottom:166px;
    height:420px;
    width:320px;
    background-color: rgba(92,160,56,0.9);
    position:absolute;
    position:fixed;
}
.formSearch .formSearch-content{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    height:85%;
    margin-top:20px;
    background-color: rgba(172,215,249,0.95);
    padding:10px;
}
.formSearch .formSearch-content .loai-tour{
    display:flex;
    justify-content:space-between;
    margin-left:10px;
    height:60px;
    width:calc(100% - 20px);
}
.formSearch select{
    height:40px;
    width:166px;
    border-radius:5px;
    border:0;
    outline:none;
}
    .formSearch button {
        height: 40px;
        width: 100px;
        color:white;
        background-color: #e27a1a;
        border-radius: 5px;
        border: 0;
        outline: none;
    }
.formSearch button:hover{
    cursor:pointer;
    height:42px;
    width:102px;
}
#formSearch-header{
    padding:5px;
    color:white;
}
.dialog{
    display:none;
}
.dialog .dialog-model{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:black;
    z-index:999;
    opacity:0.7;
}
.dialog .dialog-content{
    border-radius:5px;
    position:absolute;
    width:560px;
    height:400px;
    background-color:#ffffff;
    z-index:1000;
    top:calc(50% - 250px);
    left:calc(50% - 250px);
}
.dialog .dialog-content .dialog-content-header{
    background-color:orange;
    height:60px;
    width:97.4%;
    padding-top:15px;
    padding-left:15px;
    color:white;
    display:flex;
    justify-content:space-between;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
    .dialog .dialog-content .dialog-content-header button {
        height: 30px;
        width: 30px;
        margin-top:-15px;
        border-top-right-radius:5px;
        background-image: url('x.svg');
        background-repeat:no-repeat;
        background-size:contain;
        border:none;
        outline:none;
    }
.dialog .dialog-content .dialog-content-main{
    background-color:white;
    height:calc(100% - 60px);
    margin-top:20px;
    width:100%;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.noidung{
    height:130px;
}
.dialog .dialog-content .dialog-content-main input{
    width:90%;
    padding:10px;
    margin:10px 20px;
    outline:none;
}
.dialog .dialog-content .dialog-content-main button{
    padding:10px 15px;
    background-color:#3f51b5;
    border:0;
    color:white;
    border-radius:5px;
    outline:none;
    margin-left:20px;
}



