
@{
    ViewBag.Title = "timTour";
    Layout = "~/Views/test/Index.cshtml";
}
<head>
    <link href="~/Content/tour/timTour.css" rel="stylesheet" />
</head>
<div class="timTour-content">
    <table cellspacing="0">
        <colgroup>
            <col width="150" />
            <col width="400" />
            <col width="120" />
            <col width="100" />
            <col width="80" />
            <col width="160" />
            <col width="350" />
        </colgroup>
        <thead>
            <tr>
                <th>Mã tour</th>
                <th>Điểm đến</th>
                <th>Thời gian</th>
                <th>Ngày đi</th>
                <th>Giá</th>
                <th>Book</th>
                <th>Tiêu đề</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td>

                </td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button class="dangky">ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button>ĐĂNG KÝ</button>
                </td>
                <td >
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button>ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button>ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button>ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button>ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button>ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button>ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button>ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
            <tr>
                <td>
                    HL1
                </td>
                <td class="maucam">
                    Hạ Long PAY
                </td>
                <td>
                    1 ngày
                </td>
                <td></td>
                <td class="maucam">
                    999.999
                </td>
                <td>
                    <button class="btnDangKy">ĐĂNG KÝ</button>
                </td>
                <td>
                    DU LỊCH HẠ LONG - 1 NGÀY
                </td>
            </tr>
        </tbody>
    </table>
</div>


