
@{
    ViewBag.Title = "tourTrongNuoc";
    Layout = "~/Views/test/Index.cshtml";
}
<head>
    <link href="~/Content/tour/tour-trong-nuoc.css" rel="stylesheet" />
</head>
<div class="list-tour-content">
    <div class="list-tour">   
            <div class="left">
                <img src="~/Content/tour/anh-tour/1.jpg" height="200" width="200" />
            </div>
            <div class="right">
               <span style="color:#0493b4;">TOUR 3N2Đ TẾT DƯƠNG LỊCH 01/01/2021: HÀ NỘI - SAPA - HÀ NỘI</span>
                <br /><br />
                Giá tour: <span style="color:#e27a1a;">2,650,000đ</span><br />
                <strong>Hành trình: HÀ NỘI - SAPA - HÀ NỘI</strong><br />
                <div class="tgkh"><span class="tg">Thời gian:</span><span class="time">3N2D</span></div> <br />
                Khởi hành: Hà Nội<br />
                Thứ 6,1 tháng 1 năm 2021<br />
                <button>@Html.ActionLink("Xem chi tiết", "tourDetail", "tour")</button>
            </div>
    </div>
    <div class="list-tour">
        <div class="left">
            <img src="~/Content/tour/anh-tour/1.jpg" height="200" width="200" />
        </div>
        <div class="right">
            TOUR 3N2Đ TẾT DƯƠNG LỊCH 01/01/2021: HÀ NỘI - SAPA - HÀ NỘI
            <br /><br />
            Giá tour: <span style="color:#e27a1a;">2,650,000đ</span><br />
            <strong>Hành trình: HÀ NỘI - SAPA - HÀ NỘI</strong><br />
            <div class="tgkh"><span class="tg">Thời gian:</span><span class="time">3N2D</span></div> <br />
            Khởi hành: Hà Nội<br />
            Thứ 6,1 tháng 1 năm 2021<br />
            <button>@Html.ActionLink("Xem chi tiết", "tourDetail", "tour")</button>
        </div>
    </div>
    <div class="list-tour">
        <div class="left">
            <img src="~/Content/tour/anh-tour/1.jpg" height="200" width="200" />
        </div>
        <div class="right">
            TOUR 3N2Đ TẾT DƯƠNG LỊCH 01/01/2021: HÀ NỘI - SAPA - HÀ NỘI
            <br /><br />
            Giá tour: <span style="color:#e27a1a;">2,650,000đ</span><br />
            <strong>Hành trình: HÀ NỘI - SAPA - HÀ NỘI</strong><br />
            <div class="tgkh"><span class="tg">Thời gian:</span><span class="time">3N2D</span></div> <br />
            Khởi hành: Hà Nội<br />
            Thứ 6,1 tháng 1 năm 2021<br />
            <button>@Html.ActionLink("Xem chi tiết", "tourDetail", "tour")</button>
        </div>
    </div>
    <div class="list-tour">
        <div class="left">
            <img src="~/Content/tour/anh-tour/1.jpg" height="200" width="200" />
        </div>
        <div class="right">
            TOUR 3N2Đ TẾT DƯƠNG LỊCH 01/01/2021: HÀ NỘI - SAPA - HÀ NỘI
            <br /><br />
            Giá tour: <span style="color:#e27a1a;">2,650,000đ</span><br />
            <strong>Hành trình: HÀ NỘI - SAPA - HÀ NỘI</strong><br />
            <div class="tgkh"><span class="tg">Thời gian:</span><span class="time">3N2D</span></div> <br />
            Khởi hành: Hà Nội<br />
            Thứ 6,1 tháng 1 năm 2021<br />
            <button>@Html.ActionLink("Xem chi tiết", "tourDetail", "tour")</button>
        </div>
    </div>
    <div class="list-tour">
        <div class="left">
            <img src="~/Content/tour/anh-tour/1.jpg" height="200" width="200" />
        </div>
        <div class="right">
            TOUR 3N2Đ TẾT DƯƠNG LỊCH 01/01/2021: HÀ NỘI - SAPA - HÀ NỘI
            <br /><br />
            Giá tour: <span style="color:#e27a1a;">2,650,000đ</span><br />
            <strong>Hành trình: HÀ NỘI - SAPA - HÀ NỘI</strong><br />
            <div class="tgkh"><span class="tg">Thời gian:</span><span class="time">3N2D</span></div> <br />
            Khởi hành: Hà Nội<br />
            Thứ 6,1 tháng 1 năm 2021<br />
            <button>Xem chi tiết</button>
        </div>
    </div>
</div>
<div class="clear"></div>