
@{
    ViewBag.Title = "tourDetail";
    Layout = "~/Views/test/Index.cshtml";
}

<head>
    <link href="~/Content/tour/tourDetail.css" rel="stylesheet" />
</head>
<div class="detail-content">
    <div class="detail-content-header">
        <div class="img-main"></div>
        <div class="header-content">
            <div class="maucam">TOUR DU LỊCH SAPA - CÁT CÁT - HÀM RỒNG</div>
            <br />
            <div class="">Hành trình: HÀ NỘI - SAPA - CÁT CÁT - HÀM RỒNG - HÀ NỘI</div>
            <br />
            <div class="mauxanh">SaPa là một thị trấn vùng cao, là một khu nghỉ mát nổi tiếng thuộc huyện SaPa, tỉnh Lào Cai, Việt Nam. Nơi đây ẩn chứa nhiều điều kỳ diệu của tự nhiên, phong cảnh thiên nhiên với địa hình của núi đồi, màu xanh của rừng, tạo nên bức tranh có bố cục hài hoà,cảnh sắc thơ mộng và hấp dẫn.Có cảnh quan giao thoa giữa đất trời vùng Tây Bắc…</div>
            <br />
            <div>Ngày xuất phát: Khởi hành hàng ngày</div>
            <div>Thời gian: 2 Ngày 3 Đêm</div>
            <div>Giá cũ:<br /> 3.000.000</div>
            <div>Gía khuyễn mãi: 2.500.000</div>
            <br />
            <div><button class="dangky">Đăng ký</button></div>
        </div>
    </div>
    <div class="detail-content-lichtrinh">
       <div class="maucam" style="text-align:center;">LỊCH TRÌNH CHI TIẾT TOUR:</div>
        <br />
        NGÀY 1: HÀ NỘI – SAPA – HÀM RỒNG (ĂN: TRƯA, TỐI)<br />
        <br />
        06h30 – 7h00: Hướng dẫn viên đón quý khách tại điểm đã hẹn lên xe khởi hành đi Sapa theo Đường cao tốc Nội Bài – Lào Cai.<br />
        <br />
        Trên đường đi, Quý khách sẽ được chiêm ngưỡng vẻ đẹp của núi rừng Tây Bắc với những thửa ruộng bậc thang lấp lánh trong ánh nắng ban mai hay mịt mờ trong sương phủ. Quý Khách dừng chân, nghỉ ngơi 30 phút. Sau đó Quý khách tiếp tục lên xe khởi hành đến Sapa.<br />
        <br />
        12h30: Quý Khách đã đến Sapa, Hdv đón quý khách về khách sạn nghỉ ngơi Ăn trưa, Nhận phòng khách sạn.<br />
        <br />
        Chiều : 15h00 Hdv đưa quý khách đi bộ  khám phá khu du lịch núi Hàm Rồng với khung cảnh hoang sơ, kỳ vĩ; thăm vườn lan Đông Dương với đủ loại, muôn sắc màu; vượt qua Cổng trời 1, Cổng trời 2, du khách sẽ được đặt chân đến nơi cao nhất của Hàm Rồng đó là sân Mây – nơi giao thoa của đất trời, ngắm toàn cảnh Sapa từ trên cao.<br />
        <br />
        17h30: Quý khách trở lại khách sạn và dùng cơm tối tại nhà hàng.<br />
        <br />
        Sau bữa tối, Quý khách tự do dạo chơi khám phá vẻ quyến rũ của Sapa trong đêm, thưởng thức các đặc sản nướng của núi rừng Tây Bắc và tự do mua sắm đồ lưu niệm.<br />
        <br />
        Đặc biệt vào tối thứ bảy Quý khách có thể tham dự phiên Chợ Tình Sapa – một nét văn hóa truyền thống của đồng bào các dân tộc Mông, Dao ở vùng cao Lào Cai nói riêng và vùng Tây Bắc nước ta nói chung từ xa xưa.Nghỉ đêm tại khách sạn trung tâm.<br />
    </div>
</div>
<div class="clear"></div>