body {
}
#intro-header{
    margin-left:40px;
    color:#e27a1a;
}
.intro-logo{
    height:107px;
    width:268px;
    background-image:url(../image/logo.png);
    background-repeat:no-repeat;
    background-size:contain;
    margin-left:auto;
    margin-right:auto;
}
.intro1{
    margin-top:10px;
    width:450px;
    margin-left:auto;
    margin-right:auto;
    color:green;
    font-size:20px;
    font-weight:bold;
}
.intro2{
    margin-top:10px;
    width:313px;
    margin-left:auto;
    margin-right:auto;
    color:#FFA07A;
    font-size:20px;
    font-weight:bold;
}
.intro-content{
    margin-top:130px;
    margin-left:360px;
}
.intro-content h4{
    color:green;
}
.sodo{
    text-align:center;
    height:485px;
    width:795px;
    color:#FF0000;
    margin-left:auto;
    margin-right:auto;
}
.giayPhep{
    width:1200px;
    height:1145px;
    margin-left:auto;
    margin-right:auto;
}
.thanh-tich{
    margin-left:360px;
    margin-top:30px;
    width:1200px;
}
.intro-anh{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}